models/checkpoints/Biomarkers/*.ckpt
models/checkpoints/End2End/*.ckpt
data/*.pkl
data/LIDC-IDRI
data/crops/*.pt
data/LIDC-IDRI
venv/
__pycache__/
models/__pycache__/
static/*.png
static/*.jpg
cache/

