/* styles.css */

/* General layout */
body, html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    flex-shrink: 0;
    width: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 100%;
}

.header-container, .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


/* Dropdown menu of patients */
.dropdown-menu{
    max-height: 200px;
    overflow-y: scroll;
}

/* NODULES LIST */
.scrollable-list{
    max-height: 450px;
    overflow-y: scroll;
}

/* Visualization box */
.image-box {
    border: 2px solid #007bff;
    border-radius: 15px;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;
}

.title-container {
    margin-bottom: 5px; 
}

.title-container h3 {
    margin-bottom: 0px; 
}

.title-container img {
    margin-top: 0px; 
}

/* OPTIONS - nodule slicer */
.options h3 {
    margin-top: 1cm;
}

/* FOOTER */
.footer{
    max-height: 50px;
}
.footer-text {
    color: #6c757d;
}
.footer-link {
    color: #6c757d;
    text-decoration: none;
}
.footer-link:hover {
    color: #343a40;
}
