<!doctype html> 
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XMED</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- Header with project name (as logo) and link to About page. -->
        <div class="container">
            <header class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-bottom">
                <a href="{{ url_for('home') }}"
                    class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
                    <img src="{{ url_for('static', path='logo_v2.png')}}" width="200" alt="logo">
                </a>
            </header>
        </div>

        <main>
            <div class="container main-content">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Change patient
                            </button>
                            <ul class="dropdown-menu">
                                {% for ID in PATIENT_IDs %}
                                <li><a class="dropdown-item" onclick="showLoadingModal()" href="{{ url_for('visualize_scan', PATIENT_ID=ID) }}">Patient {{ ID }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4 offset-lg-1 d-flex flex-column justify-content-center">
                        <div class="row mt-3 form-group">
                            <div class="col-md-12">
                                <h3>Choose scan's slice</h3>
                                <form action="{{ url_for('visualize_scan', PATIENT_ID=PATIENT_ID) }}" method="get">
                                    <div class="col-md-12">
                                        <input type="range" class="form-range" name="SLC" min="0" max="{{ max_depth }}"
                                            step="1" id="sliceNumber" value="{{SLC}}"
                                            oninput="sliceOutput.value = sliceNumber.value" onchange="this.form.submit()">
                                        <p>Chosen slice: <output id="sliceOutput">{{ SLC }}</output></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row mt-3 mb-4 mb-md-0">
                            <div class="col-md-12">
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Application extract nodules based on radiologist's annotations.">
                                    <a onclick="showLoadingModal()" href="{{ url_for('extract_nodules', PATIENT_ID=PATIENT_ID) }}" class="btn btn-primary btn-block"> Extract Nodules!</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ms-lg-2">
                        <div class="title-container image-box">
                            <h3>CT scan of the patient {{PATIENT_ID}} </h3>
                            <img src="data:image/png;base64,{{ scan_plot }}" class="img-fluid" alt="Scan slice">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body d-flex justify-content-center align-items-center">
                            <div>
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <p>Loading, please wait...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="container-fluid" style="background-color: rgb(240, 240, 240);">
            <div class="container">
                <!-- Website footer -->
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
                    <p class="col-md-4 mb-0 footer-text"><strong>&copy; 2024 Xmed</strong></p>

                    <a href="/"
                        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <img src="{{ url_for('static', path='logo_v2.png')}}" width="200" alt="logo">
                    </a>

                    <ul class="nav col-md-4 justify-content-end">
                        <li class="nav-item"><a href="https://www.linkedin.com/in/bindajakub/"
                                class="nav-link px-2 footer-link"><strong>Contact</strong></a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function showLoadingModal() {
            var myModal = new bootstrap.Modal(document.getElementById('loadingModal'));
            myModal.show();
        }

        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
</body>

</html>